@model MovieBringer.Core.Models.ViewModel.Account.ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sign section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">
                    <form asp-action="ForgetPassword" class="sign__form">
                        <a href="index.html" class="sign__logo">
                            <img src="~/Resource/MainHotFlix/img/logo.svg" alt="">
                        </a>
                        <div asp-validation-summary="All" class="mb-danger mb-3"></div>
                        <div class="sign__group">
                            <input asp-for="Email" class="sign__input" placeholder="Email">
                        </div>

                        <button class="sign__btn" type="submit">Send</button>

                        <span class="sign__text">We will send a password to your Email</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

